---
import { text } from "../../data/i18n";

import LustreText from "../ui/lustretext";

const t = text.highlights;
---

<section id="highlights" class="relative">
  <!-- Highlights section content removed -->
</section>
