---
import { text } from "../../data/i18n";
import HighlightsZoom from "../ui/HighlightsZoom";
import LustreText from "../ui/lustretext";

const t = text.highlights;
---

<section id="highlights" class="relative">
    <HighlightsZoom client:load />
</section>
